<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> Incidents </a>
    <div class="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link" href="/resolvers"> Resolvers</a>
        <a class="nav-link" href="/incidents"> Incidents</a>
        <a class="nav-link" href="/num_incidents"> Total Incidents</a>
        <a class="nav-link" href="/first_call"> First Point of Contact</a>
        <a class="nav-link" href="/search-incidents"> Search Incidents</a>

        <% if(user) { %>
          <!-- <a class="nav-link" href="saved-tastings"> Search Tastings</a>
          <a class="nav-link" href="create-tasting"> Write a Review </a> -->
          <a class="nav-link" href="logout">
            <%= user.email %> (Logout)
          </a>
          <% }%>
            <% if(!user) { %>
              <a class="nav-link" href="login"> Login </a>
              <a class="nav-link" href="join"> Register </a>
              <% } %>
      </div>
    </div>
  </nav>
</header>
;